* {
  padding: 0px;
  margin: 0px;
}

hr {
  height: 1px;
  margin: 10px 0;
  padding: 0;
  clear: both;
  border: none;
  background-color: #9c9c9c;
}

/* Fonter ****************************************************/

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #42423a;
}

.normal, .nomargin {
  clear: both;
}


/* Table styles ****************************************************/




/* Rubriker ****************************************************/
h1{
  text-align:left;
  font-size: 25px;
  color: #42423A;
  margin: 0px 0 15px 0;
  font-weight: normal;
}

h2{
  font-size: 20px;
  color: #42423A;
  margin: 0px 0 0px 0;
  font-weight: normal;
}

/*#59b82b*/ 
h3 {
  color: #42423A;
  font-size: 16px;
  margin: 0px 0 2px 0;
  font-weight: normal;
}

/* Menyer ****************************************************/

.menu_box {
  overflow: hidden;
  padding: 0px 0px 0px 0px; 
  margin: 41px 0 0px 0;
  border-bottom: 1px solid #9c9c9c; 
}

.menu_subleft {
  padding: 0 0 0 0px;
  margin: 0px;
  width: 140px;
  float:left;
  overflow: hidden;
}

a.l1 {
  font-size: 9pt;
}

a.active-l1 {
  font-size: 9pt;
}

.active-li1 {
  
}

.menu_l1 {
  padding: 0 0 0px 0;
  width: 770px;
  overflow: hidden;
  float: left;
}

.menu_l1 li {
  float: left;
  padding: 0px 0px 0 0px;
  list-style-type: none;
  overflow:hidden; 
}

.menu_l1 li a {
  text-transform: uppercase;
  color: #42423a;
  padding: 5px 20px 2px 4px;
  margin: 0 0 0px 0;
}
.menu_l1 li:last-child a {
  padding: 5px 0px 2px 4px;
}

.menu_l1 li a.active-l1 {
  color: #ffffff;
  background: #42423a;
}

li.active-li1 {
  padding: 0 0 3px 0;
}

.li2 {
  padding: 0 0 15px 4px;
  text-decoration: none;
  text-transform: uppercase !important; 
  font: #42423a !important; 
  margin: 0px 0 0px 0;
  /*line-height: 30px;*/
}

a.l2 {
  font-size: 12px !important;
  color: #42423a;
}

.menu_subleft ul{
  list-style-type: none;
}

.active-li2 .l2  {
  text-decoration: none;
  text-transform: uppercase !important; 
  font: 12px #42423a !important;  
  color: #fff;
  font-weight: bold;
  background: #91c0ea;
  padding: 2px 11px 2px 2px;
}

.active-li2 {
  padding: 2px 0 0 2px;
  margin: 0 0 15px 0;
}

ul.level-3 a.l3 {
  font-size: 11px;
  text-transform: uppercase;  
  color: #42423a;
  margin-left: 15px;
  background: none;
  font-weight: normal;
  margin-top: 7px;  
}

ul.level-3 .active-li3 a.l3 {
  border-bottom: 1px solid #91c0ea; 
}

a:hover {}


/* Search ****************************************************/

div.search {
  width: 190px;
  float: right;
  margin: 0 0 0px 0; 
}

.searchBox {  
  background: #e0e1e3;
  padding: 0 0 0px 3px;
  margin: 0px 0px 0px 0;
  border: none; 
  float: left;
  height: 19px;
  font-size: 10px;
  width: 143px;
}

.searchButton {
  cursor: pointer;
  height: 19px;
  background: #e0e1e3;
  border: none;
  margin: 0px 0px 5px 0px;
  padding: 0 0 0px 0;
  float:left;    
}


/* Listor ****************************************************/

.normal ul, .nomargin ul {
  padding: 5px 0 0 30px;
}

.normal li, .nomargin li {
  padding: 0px 0 3px 00px;
}

/* Lдnkar ****************************************************/

a {
  color: #70c223;
  text-decoration: none;
  line-height: 18px;
}

a img {
  border: 0px !important;
}

a.arrow {
  text-decoration: none;
  padding: 2px 0 2px 16px;
  background: url(img/arrow.gif) no-repeat;
  border-bottom: 0px;
  display: block;
}



/* Bilder ****************************************************/

.textonleft {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  float: right;
}

.textonright {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  float:left;
}


img {
  border: 1px;
  border-color: green;
  overflow: hidden;
  padding: 0px;
}

/* Positionering ****************************************************/
.bodystyle {
  border: none;
  padding: 0px;
  margin: 17px auto 0 auto;
  width: 981px;
  overflow: hidden;
  padding: 0 20px;
}

.top {
  border: none;
  margin: 0 0 7px 0;
  overflow: hidden;
}

.header_box { 
  border: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.logo {
  border: none;
  padding: 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
}

.country {
  border: none;
  margin: 15px 0px 0px 0px;
  float: right;
}

.country a img {
  margin-left: 2px; 
}

.container {
  border: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.full {
  width: 978px;
  height: auto;
  overflow: hidden;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.content {
  border: none;
  overflow: hidden;
  padding: 0px; 
  margin: 0px;
  width: 829px;
  float:right;
}

.wide {
  padding: 0px;
  margin: 0px;
  width: 829px; 
  float: right;
  overflow: hidden;
}

.content_rightleft {
  margin: 0px 0 0 0;
}

.content_left {
  border: none;
  overflow: hidden;
  padding: 0; 
  margin: 0px 0px 0 0;
  width: 517px; 
  float: left;
}

.content_right {
  border: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px 0px 0 0px;
  width: 280px;
  float: right;
}

.content_broad_rightleft {
  clear: both;
  margin: 0px 0 0 0;
}

.content_broad_left {
  border: none;
  overflow: hidden;
  padding: 0; 
  margin: 0px 0px 0 0;
  width: 645px; 
  float: left;
}

.content_broad_right {
  border: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px 0px 0 0px;
  width: 310px;
  float: right;
}

.wide .normal {
  margin: 0 7px 0 7px;
}

.content_right .normal {
  margin: 0 7px 0 7px;
}

.content_left .normal {
  margin: 0 7px 0 7px;
}

/** Drop objekt **/
.drop {
  overflow: hidden;
  height: 100%;
  margin: 0 44px 10px 34px;
}
.drop-rub {
  background: #e6e6e6 url(img/arrow_black_down.gif) no-repeat center right;
  /*height: 33px;*/
  overflow: hidden;
  height: 100%;
  margin: 0 0 1px 0;
  font-weight: bold;
  padding: 9px 14px;
}

.drop-content {
  background: #f2f2f1;
  padding: 12px 14px 14px 14px;
  border-top: 3px solid #f2f2f1;
  line-height: 16px;
  font-size: 11px;
}


/* Formulдr - ny ****************************************************/

form.form-module {
  background: #fff;
  padding: 0px 44px 0 34px;
}

.text-input {
  width: 97%;
}

form.form-module div.form-module-inside {
  padding-left: 0px;
  padding-right: 0px;
}

form.form-module div.form-module-bottom {
  padding: 0px 0px 0px 0px;
}

.row {
  overflow: hidden;
  height: 100%;
}

.col {
  float: left;
  padding: 5px 0 5px 0;
  width: 46%;
  overflow: hidden;
}

.col1, .col2, .col3 {

}

.colspan1 {
  width: 30%;
}

.colspan2 {
  width: 60%;
}

.colspan3 {
  width: 90%;
}

form.form-module select {
  border: 1px solid silver;
  width: 100%;
}

.popup {
  width: 100%;
}

.section {
  
}

.reset-button {
  float: left;
}

label.checkbox-label span, label.radio-button-label span {
  padding-left: 3px;
}

label.file-label, label.file-label span, label.textarea-label span, span.popup, label.checkbox-label, label.radio-button-label {
  display: block;
  padding: 2px 0 2px 0;
}

.error {
  border: 1px dotted red;
  background-color: pink;
  display: block;
  padding: 3px;
  margin-top: 5px;
}


/* Press modulen */

div.press {
  padding: 0;
}


div.press h2 {
  display: none;
}

td.gallery-td {
  vertical-align: top;
  padding: 0 0 15px 0;
}

.gallery-name {
  display: none;
}

.gallery-img img {
  border: 0px solid #999;
  padding: 0 0 2px 0;
  cursor: pointer;
}

.gallery-weight, .gallery-description, .gallery-size, .gallery-download a {
  font-size: 10px;
  color: #666;
  /*white-space: nowrap;*/
}

.gallery-weight {
  float: left;
  padding: 0 14px 0 0;
  background: url(img/gallery/slash.gif) no-repeat right;
}

.gallery-size {
  float: left;
  padding: 0 0px 0 0px;
}

.gallery-download {
  padding: 0 0px 0 20px;
  background: url(img/gallery/download.gif) no-repeat left;
  clear: both;
}

/*** tab objekt ***/

h5 {
  margin: 0 0px;
  list-style-type: none;
  border-bottom: 0px solid #db8c11;
  height: 100%;
  overflow: hidden;
  padding: 10px 44px 10px 34px; 
  margin: 0 0px 0px 0px;
  background: #dddcd4;
  clear: both;
  font-size: 12px;
  color: #2d2d2d;
}

h5.tab {
}

h5.tab-active {
  color: #fff;
}

/** Webblдsaren**/

ul.tab-navigation {
  margin: 10px 0px 0px 0px !important;
  list-style-type: none;
  border-bottom: 0px solid #db8c11;
  height: 29px;
  overflow: hidden;
  padding: 0 0 0px 0px;
  background: #e0e1e3 url(img/tab_border.gif) repeat-x;
}

ul.tab-navigation li {
  float: left;
  margin: 0 0px 0px 0 !important;
  padding: 0px 0px 0px 0;
  background: url(img/tab_left.gif) no-repeat;
  height: 27px;
  border-right: 2px solid #fff;
}

ul.tab-navigation li.active {
  margin: 0 0px 0px 0 !important;
  border: 0px;
  background: url(img/tab_active_left.gif) no-repeat;
  overflow: hidden;
  border-right: 0px;
  height: 29px;
}

ul.tab-navigation li a {
  text-decoration: none;
  padding: 6px 10px 0 10px !important;
  display: block;
  /*background: url(img/tab_right.gif) no-repeat top right;*/
  height: 21px;
  color: #71716b;
  text-transform: uppercase;
  font-size: 11px;
}

ul.tab-navigation li.active a {
  background: url(img/tab_active_right.gif) no-repeat top right;
  height: 20x;
  padding: 7px 30px 0 15px !important;
}

.tab-container {
  clear: both;
  padding: 0px 0px 15px 0;
}

/******triple box****************************************************/

.colored-block-image {
  width: 90px;
  float: left;
}

.colored-block-image img {
  width: 90px;
  float: left;
}

.colored-block-text {
  width: 205px;
  padding: 0px; 
  float: right;
  margin: 30px 0 0 0px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* Blue */
.colored-block-blue {
  background: #91c0ea;
  padding: 0 0px 0 0; 
  margin: 0 26px 0 0;
  width: 310px;
  height: 90px;
  float: left;  
}

/* Green */

.colored-block-green {
  background: #6fb82b;
  margin: 0px;
  width: 310px;
  float: left;
  height: 90px; 
}


/* Grey */
.colored-block-grey {
  background: #d0c5bf;
  margin: 0px;  
  width: 310px;
  float: right;
  height: 90px;
}

/******triple puff****************************************************/

.triple-puff-start {
  margin: 10px 0 0 0 !important;
}

.triple-puff-image {
  width: 310px;
}

.triple-puff-text {
  width: 310px;
  padding: 10px 5px; 
  margin: 0px 0 0 0px;
  text-align: left;
}

.triple-puff-text h3 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px 0 0px 0;
  font-weight: bold;
}

/* Blue */
.triple-puff-blue {
  background: #91c0ea;
  padding: 0 0px 0 0; 
  margin: 0 26px 0 0;
  width: 310px;
  float: left;  
}

/* Green */

.triple-puff-green {
  background: #6fb82b;
  margin: 0px;
  width: 310px;
  float: left;
}


/* Grey */
.triple-puff-grey {
  background: #d0c5bf;
  margin: 0px;  
  width: 310px;
  float: right;
}

/**************Html-modulen***********/



/**************Search-modulen***********/

.module-search .searchButton {
  border: none; 
  background: #e0e1e3;
  margin: 7px 0px 0px 0px;
  padding: 2px 0 3px 0 ;
  float:left;
  text-transform: uppercase;
  font-size: 9px;
}

.module-search h2 {
  margin: 0 0 10px 0;
}

.module-search h1 {
  margin: 0 0 0px 0 !important;
}

.module-search .searchfield {
  padding: 0 0 0 0px;
  background: #E0E1E3;
  padding: 0 0 0px 3px;
  margin: 0px 0px 0px 0;
  border: none; 
  float: left;
  height: 19px;
  font-size: 10px;
  width: 143px;
}

/*********** Extended News module *********/

.news-extra {
  margin: 0px 0 5px 0px;
  display: block; 
  border-top: 1px solid #d9d9d9;
}

.news-extra .content {
  border-left: 0px;
}

.news-extra a {
  color: black; 
}

.news-extra-entry {
  border-bottom: 0px solid #D4D4D4;
  padding: 10px 0;
  clear: both;
  height: 100%;
  overflow: hidden;
}


.news-extra-entry .image {
  display: block;
  padding: 3px 0 3px 0; 
  
}

.news-extra-entry .image {
  float: left;
  width: 120px;
  overflow: hidden; 
  *height: 100px;
}

.news-extra-entry .content {
  float: left;
  width: 450px;
  display: block;
  padding: 0px 0 0 20px; 
}

.news-extra-entry {
  border-bottom: 1px solid #d9d9d9;
}

.news-extra-entry .format {
  display: none;
}

.news-extra-entry .title {
  font-weight: bold;
  display: block;
  font-size: 15px; 
}

.news-extra-entry .description {
  display: block;
  padding: 0px 0;
  line-height: 19px; 
}

.news-extra-entry .link {
  clear: both;
  padding: 10px 0 0 0px;
  display: block; 
}

.read-more {
  color: #70c223;
}

.news-extra-content span.link a.arrow {
  margin-left: 7px; 
  display: inline; 
}

.link-archive a {
  color: #70c223;
}

/******* Archive - News**********/

.whatsnew {
  border-top: 5px solid #8cc741;
  background-color: #f2f2f3;
  padding: 0px 10px 0px 21px;
  *padding: 15px 10px 16px 21px;
  *margin-top: 0px;
  height: 236px;
  *height: 199px;
  }

.whatsnew-over {
  border-top: 5px solid #ffcb08;
  background-color: #f2f2f3;
  padding: 0px 10px 0px 21px;
  *padding: 15px 10px 16px 21px;
  *margin-top: 1px;
  font-family: lucida grande,verdana, arial, geneva;
  font-size: 11px;
  height: 236px;
  *height: 199px;
  }

.whatsnew, .whatsnew-over {
  height /*\**/: 231px\9
  }

.whatsnew, .whatsnew-over {
  padding /*\**/: 0px 10px 0px 21px\9
  }

a.whatsnew-text {
  text-decoration: none;
  font-family: lucida grande,verdana, arial, geneva;
  font-size: 11px;
  color: #70c223;
  }

a.whatsnew-text:hover {
  text-decoration: underline;
  font-family: lucida grande,verdana, arial, geneva;
  font-size: 11px;
  color: #454343;
  }

a.whatsnew-ett {
  text-decoration: none;
  color: #454343;
  }

.whatsnew-ett {
  padding-bottom: 4px;
  }

.whatsnew-forts {
  padding: 3px 0px 3px 20px;
  font-family: lucida grande,verdana, arial, geneva;
  font-size: 11px;
  color: #454343;
}

.whatsnew-pil {
  display: inline;
  padding-right: 5px;
  margin-left: -15px; 
  color: #70c223; 
}

.whatsnew-date {
  display: inline;
  padding-right: 5px;
}

.hoger {
  width: 100%;
  text-align: right;
  display: block;
  border-bottom: 1px dotted #999988;
  padding: 0px 0 8px 0;
}

.hoger_blank {
  width: 100%;
  text-align: left;
  display: block;
  padding: 14px 0 0px 0;
  *padding: 26px 0 0px 0;
}

/* Dela - Objektet ****************************************************/
.dela { 
  float: right;
}


/* Footer ****************************************************/

.footer {
    overflow: hidden;
    padding: 10px 0px 0 0;
    margin: 10px auto 0px auto;
    border-top: 1px solid #9c9c9c;
    width: 981px;
}

.footer p {
  color: #7b7b7b;
  font-size: 12px;
}

div#footer {
  clear: both;
}

div.footer-sub {
  margin: 20px 0 0 0;
}

div#footer-menu {
  padding: 0 0 0 28px;
  overflow: hidden;
}

div.footer-menu-group {
  width: 131px;
  float: left;
  padding: 0 21px 0 10px;
  
}

.cufon-active a.footer-menu-group-l1, .cufon-active .footer-menu-group h3 {
  text-transform: uppercase;
  color: #42423a;
}

a.footer-menu-group-l1, .footer-menu-group h3 {
  margin: 0px 0 0 0;
  padding: 0px 0 7px 0;
  display: block;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 9pt;
}

div.footer-menu-group ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

div.footer-menu-group ul li {
  padding: 0px 0 2px 0;
}

a.footer-menu-group-l2 {
  color: #6b6b6b;
}

/****************Footer bottom, all rights ********/

.footer-bottom {
  border-top: 1px solid #9c9c9c;
  margin: 10px 0 15px 0;
  padding: 15px 0px 15px 0;
  color: #6b6b6b;
  font-size: 12px;
  text-transform: uppercase;
}

.footer-bottom-copy {
  float: left;
  margin: 0 10px; 
  font-size:7pt;
}

.footer-bottom-share-media {
  float:right;
  margin: 0 10px; 
  font-size:7pt;
}